.feedback-rating{
    outline: none;
    color: #FFC107;
}

.card{
    // max-width: 18rem;
    margin-bottom: 1rem;
}

.btn-notation{
    float: right;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 100%;
    // width: 2em;
}

.notation_total{
    float: right;
    margin-left: 1em;
    margin-right: 1em;
}

.btn-notation button{
    // padding: 2;
    // margin: 0.2em;
}

.btn-notation i{
    font-size: x-small;
    // height: 0.6em;
}